<div class="col-md-6 m-auto mt-5 card">
  <div class="card-header">
    <h1 class="text-center">Login</h1>
  </div>
  <div class="card-body">
    {{> message}}
    <form action="/users/login" method="POST">
      <div class="mb-3">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" class="form-control" placeholder="Enter email" required>
      </div>
      <div class="mb-3">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Enter password" required>
      </div>
      <div class="d-grid">
        <button type="submit" class="btn btn-success btn-lg">Login</button>
        <a href="/auth/facebook" class="btn btn-primary btn-lg my-4">Facebook Login</a>
      </div>
    </form>
    <p class="lead mt-4">No Account? <a href="/users/register">Register</a></p>
  </div>
</div>